*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}

.container,nav,footer{
    width: 960px;
    margin: 0 auto;
}
.container{
    padding-bottom: 40px;
}
section,nav,footer{
    background-color: #ededed;
    box-sizing: border-box;
    border-radius: 5px;
    border: dodgerblue 1px solid;
}
section{
    display: inline-flex;
    flex-flow: row;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
}
header,footer {
    margin-top: 5px;
    height: 50px;
}
footer {
    height: 30px;

}
section {
    padding: 20px;
    margin-top: 50px;
}

h1,h2{
    color: #1864b7;
    text-indent: 20px;
    margin: 15px 0;

}
h3{
    color: #1864b7;
    margin: 5px 0;

}

/*Menu*/
nav{
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}
.main_menu,.auth_menu{
    list-style: none;
    padding: 5px;

}
.main_menu li{
    margin: 0 15px ;
}
.main_menu li,.auth_menu li{
    display: inline-block;
}
.main_menu a{
    text-decoration: none;

}

.main_menu a:hover,.auth_menu a:hover{
    color: #165eac;
}

.auth_menu>li:last-child{
    margin-left: 10px;
}

/*Aside*/

aside{
    width: 150px;
    padding: 10px 15px;
    background-color: #e9e9e9;
    display: inline-block;
    flex-grow: 2;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}

ul{
    list-style: none;
}
aside ul li{
    height: 20px;
    margin-bottom: 10px;
}
aside a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Laila', serif;
}
aside a:hover {
    color: darkblue;
}
/* Login_register */

.login_register_container{
    display: inline-flex;
    flex-flow: column;
}
.container_heading{
    font-size: large;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}
.validation_error{
    color: red;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
.login_register_form{
    display: inline-flex;
    flex-flow: column nowrap;
}
.login_register_form label,a{
    font-family: 'Dosis', sans-serif;
}
.login_register_form button{
    width: 100px;
    margin: 5px 0;
}
.remember_me{
    margin: 5px 0 0 0;
}

/*Home*/

.login_success{
    width: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;

}
.login_success>div{
    margin: auto;
    padding: 10px;
    font-family: 'Laila', serif;
    font-size: large;
    background-color: #ededed;
    margin-bottom: 2px;
    border: 1px white solid;
    border-radius: 5px;
}
.login_success>div>a{
    font-family: 'Laila', serif;
}
